<ActionBar title="Add New" class="action-bar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" tap="onNavBtnTap"></NavigationButton>
</ActionBar>
<FlexboxLayout flexDirection="column" class="page">
    <StackLayout class="form">
        <StackLayout class="input-field">
            <Label text="Item Name" class="label font-weight-bold m-b-5"></Label>
            <TextField hint="Item Name" class="input" [(ngModel)]="newItem.name"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="input-field">
            <Label text="Item Role" class="label font-weight-bold m-b-5"></Label>
            <TextField hint="Item Role" class="input" [(ngModel)]="newItem.role"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
    </StackLayout>  
    <Button text="Save" class="btn btn-primary" (tap)="saveItem()"></Button>
</FlexboxLayout>
